h1{
    background-color: rgb(240, 4, 4);
}
body{
    background-color: rgb(161, 7, 7);
}

nav li {
    display: inline;
    margin-right: 30px;
}

nav a{
    text-transform:uppercase;
    color: rgb(20, 13, 13);
    font-weight: bold;
    font-size: 35px;
    text-decoration: none;
}
nav {
    position:absolute;
    top: 60px;
    right: 200px;
}
caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.logotipo{
    width: 37px;
}
