h1 {
    text-align: center;
    color: rgb(245, 94, 84);
    font-size: 59px;
    font-style:italic 
    
}
  body{
    background-color: rgb(250, 165, 165);
  }

b{
  color: rgb(243, 90, 90);  
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 65px;
}
  

.imagem{
  display:inline-block;
  margin: left auto;
  margin: right auto;
  width: 400px;
  border-color: rgb(230, 96, 92);
  border-radius: rgb(214, 87, 87);
  border-style: outset;
  border-width: 30px;
  box-shadow: rgb(224, 73, 104);
}
.contato{
  background-color: rgb(224, 96, 87);
  width: auto;
  border-radius: 20px;
  border-color: rgb(207, 70, 70);
  display: inline-block;
}
.texto{
  background-color: rgb(247, 99, 80);
  width: 50;
  border-radius: 37px;
  margin: auto;
  text-align: justify;
}

.title{
  background-color: rgb(224, 88, 88);
}
