h1 {
    text-align: center;
    color: rgb(6, 231, 239);
    font-size: 59px;
    font-style:italic 
    
}

b{
  color: black;  
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 65px;
}
  

.imagem{
  display:inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  border-color: aqua;
  border-radius: aqua;
  border-style: aquamarine;
  border-width: 40px;
}
.contato{
  background-color: azure;
  width: auto;
  border-radius: 30px;

  display: inline-block;
}
.texto{
  background-color: antiquewhite;
  width: 50;
  border-radius: 30px;
  margin: auto;
  text-align: justify;
}