h1 {
    text-align: center;
    color: rgb(126, 6, 239);
    font-size: 57px;
    font-style:italic 

}

b{
  color: black;  
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 65px;
}

.imagem{

  display: block;   
  margin-left: auto;
  margin-right: auto;
  width: 400px;
border-color: aqua;
border-radius: 40px;
border-style: inset;
border-width: 40px;
}